body{
    margin: 0;                              /*убирает отступы от всех краев*/
    background-image: url(https://altanschool.s3.eu-central-1.amazonaws.com/learns/1697021662483_headerpic.jpg); /*изображение фона*/
    background-size: 100%;                  /*размер фона*/
    background-position-y: -50px;           /*изображение чуть поднято наверх*/
    background-attachment: fixed;           /*фиксация фона*/
}

header{
    height: 100%;               /*высота*/
    padding: 30px;          /*внутренний отступ*/
    text-align: right;      /*текст выровнени влево*/
    color: rgb(0, 0, 91); /*цвет текста*/
    font-size: 25px;        /*размер текста*/
}

h1{
    padding-top: 50px;  /*Дополнительный отступ заголовка*/
    font-size: 80px;    /*размер заголовка*/
    color:rgb(255, 255, 255);  /*цвет*/
}

main{
    height: 1000px;   /*высота основной части*/
    display: flex;
}

footer{
    height: 100%;    /*высота*/
    text-align: left;  /*текст выровннен влево*/
    padding: 50px;   /*внутренний оступ*/
    color: white;  /*цвет текста*/
    font-size: 20px;  /*размер текста*/
}

.social{
    list-style: none; /*убирает маркеры*/
    display: flex; /*отображает в ряд*/
    align-items: left; /*выравнивает иконки по центру внутри каждого пункта*/
    justify-content: left; /*выравнивает все иконки по центру страницы*/
    margin: 0;
    padding: 0;
}

.social li {
    padding-left: 10px;
    padding-top: 20px;
}

.left{
    background-color: orange;
    width: 25%;
    height: 65%;
    font-size: 25px;
}

.center_1{
    background-color: green;
    width: 25%;
    height: 65%;
    font-size: 25px;
}

.center_2{
    background-color: blue;
    width: 25%;
    height: 65%;
    font-size: 25px;
}

.right{
    background-color: yellow;
    width: 25%;
    height: 65%;
    font-size: 25px;
}

.left li{
    background-color: burlywood;
    line-height: 2em;
    margin-top: 10px;
    border-radius: 3em;
    width: 60%;
    padding-left: 10px;
    height: 50px;
    list-style-type: square;
    list-style-position: inside;
    list-style-type: "\2705";
}

.left li:hover{
    background-color: brown;
    color:white;
    list-style-type: "\274C";
    width: 70%;
    height: 70px;
}

.nav{
    position: sticky;
    top: 0;
}

.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: blue;
    font-size: 20px;
    width: 100%;
    border: 2px solid white;
    text-align: center;
    overflow: hidden;
}

.nav a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    float: left;
}

.nav a:hover{
    background-color: antiquewhite;
    color: black;
    
}

.block5{
    width: 100%;
    height: 300px;
    padding: 50px;
    background-color: aquamarine;
}

.btn1{
    width: 300px;
    height: 70px;
    background-color: brown;
    color: white;
    padding: 15px 30px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 0 8px 16px black;
    cursor: pointer;
}

.btn1:hover{
    background-color: rgb(238, 196, 196);
    color: black;
    border: 2px solid black;
    box-shadow: 0px 0px 0px black;
}

.btn1:active{
    background-color: #3e8e41;
    color: yellow;
}

form{
    width: 100%;
    float: right;
    display: flex;
    height: 100%;
}

input{
    padding: 10px 20px;
    border: 1px;
    font-size: 20px;
}

.search {
    width: 75%;
}

.button{
    width: 25%;
    background-color: rgb(13, 19, 109);
    color: aliceblue;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(99, 79, 211);
    color: white;
}